@import 'variables';

/* Page Home*/
/* Container user*/
.page-container.user {
    .row {
        .user-profile {
            .user-inner {
                .user-left {
                    padding: 20px 0px;
                    float: left;
                    .user-initial {
                        width: 125px;
                        height: 125px;
                        margin-right: 20px;
                        background-color: #000;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        text-align: center;
                        font-size: 70px;
                        color: $text-light;
                        line-height: 125px;
                    }
                }
                .user-right {
                    width: calc(100% - 170px);
                    padding-top: 40px;
                    float: left;
                    .user-info {
                        width: 100%;
                        line-height: 35px;
                        margin-bottom: 10px;
                        .user-name {
                            height: 35px;
                            line-height: 35px;
                            color: $text-light;
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .user-level {
                            width: 120px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background-color: #d7732a;
                            color: $text-light;
                            padding: 0px 20px;
                            border-radius: 17.5px;
                            font-size: 22px;
                            .user-level-level {
                                font-weight: 600;
                            }
                        }
                    }
                    .user-progress {
                        .user-points {
                            color: $text-light;
                            font-size: 15px;
                            margin-bottom: 2px;
                        }
                        .user-bar {
                            padding: 5px 0px;
                            height: 8px;
                            .points-bar {
                                width: 100%;
                                height: 8px;
                                border-radius: 4px;
                                background-color: #d0d0d0;
                                .points-progress {
                                    top: -8px;
                                    height: 8px;
                                    margin-top: 0px;
                                    background-color: #d7732a;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Container upcoming-levels*/

.page-container.upcoming-levels {
    .row {
        .upcoming-levels {
            width: 100%;
            padding: 5px;
            .level-container {
                width: 100%;
                height: 150px;
                margin-top: 30px;
                border-radius: 10px;
                box-shadow: 0 5px 3px -3px #090909;
                .level-container-inner {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    .level-left {
                        float: left;
                        width: calc(100% - 180px);
                        height: 80px;
                        margin: 35px 20px;
                        line-height: 80px;
                        font-size: 24px;
                        font-weight: 600;
                        color: $text-light;
                    }
                    .level-right {
                        float: left;
                        width: 140px;
                        height: 150px;
                        .icon-locked {
                            width: 80px;
                            height: 80px;
                            margin: 35px 20px;
                            border: 3px solid #fff;
                            color: #fff;
                            text-align: center;
                            line-height: 75px;
                            font-size: 45px;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .level-container-next {
                width: 100%;
                height: 150px;
                margin-top: 15px;
                border-radius: 10px;
                box-shadow: 0 5px 3px -3px #090909;
                .level-container-inner {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    .level-container-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    .level-left {
                        width: calc(100% - 90px;);
                        height: 100%;
                        float: left;
                        .level-info {
                            padding: 20px;
                            padding-right: 0px;
                            .level-name {
                                height: 20px;
                                line-height: 20px;
                                margin-bottom: 20px;
                                color: $text-light;
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .level-task {
                                height: 70px;
                                .task-title {
                                    color: $text-light;
                                    font-size: 22px;
                                    font-weight: 600;
                                    line-height: 25px;
                                    height: 50px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .task-info {
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: $text-light;
                                }
                            }
                        }
                    }
                    .level-right {
                        width: 50px;
                        height: 50px;
                        margin: 50px 20px;
                        float: left;
                        color: #fff;
                        text-align: right;
                        line-height: 50px;
                        font-size: 50px;
                       
                    }
                     .level-right-previous {
                        float: left;
                        width: 140px;
                        height: 150px;
                        .icon-locked {
                            width: 80px;
                            height: 80px;
                            margin: 35px 20px;
                            border: 3px solid #fff;
                            color: #fff;
                            text-align: center;
                            line-height: 75px;
                            font-size: 45px;
                            border-radius: 50%;
                        }
                    }
                    .level-empty {
                        color: #fff;
                        padding: 20px;
                        .level-name {
                            height: 20px;
                            line-height: 20px;
                            margin-bottom: 20px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .level-text {
                            height: 70px;
                            line-height: 25px;
                            font-size: 26px;
                            font-weight: 600;
                            padding-bottom: 20px;
                            span {
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

.chevron-up{
    text-align:center;
    padding-top:10px;
}

/* Container previous-levels*/

.page-container.previous-levels {
   display:none;
    .row {
        .previous-levels {
            width: 100%;
            padding: 5px;
            .level-container {
                width: 100%;
                height: 150px;
                margin-top: 30px;
                border-radius: 10px;
                box-shadow: 0 5px 3px -3px #090909;
                .level-container-inner {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    .level-left {
                        float: left;
                        width: calc(100% - 180px);
                        height: 80px;
                        margin: 35px 20px;
                        line-height: 80px;
                        font-size: 24px;
                        font-weight: 600;
                        color: $text-light;
                    }
                    .level-right {
                        float: left;
                        width: 140px;
                        height: 150px;
                        .icon-locked {
                            width: 80px;
                            height: 80px;
                            margin: 35px 20px;
                            border: 3px solid #fff;
                            color: #fff;
                            text-align: center;
                            line-height: 75px;
                            font-size: 45px;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .level-container-next {
                width: 100%;
                height: 150px;
                margin-top: 15px;
                border-radius: 10px;
                box-shadow: 0 5px 3px -3px #090909;
                .level-container-inner {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    .level-container-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    .level-left {
                        width: calc(100% - 90px;);
                        height: 100%;
                        float: left;
                        .level-info {
                            padding: 20px;
                            padding-right: 0px;
                            .level-name {
                                height: 20px;
                                line-height: 20px;
                                margin-bottom: 20px;
                                color: $text-light;
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .level-task {
                                height: 70px;
                                .task-title {
                                    color: $text-light;
                                    font-size: 22px;
                                    font-weight: 600;
                                    line-height: 25px;
                                    height: 50px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .task-info {
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: $text-light;
                                }
                            }
                        }
                    }
                    .level-right {
                        width: 50px;
                        height: 50px;
                        margin: 50px 20px;
                        float: left;
                        color: #fff;
                        text-align: right;
                        line-height: 50px;
                        font-size: 50px;
                       
                    }
                     .level-right-previous {
                        float: left;
                        width: 140px;
                        height: 150px;
                        .icon-locked {
                            width: 80px;
                            height: 80px;
                            margin: 35px 20px;
                            border: 3px solid #fff;
                            color: #fff;
                            text-align: center;
                            line-height: 75px;
                            font-size: 45px;
                            border-radius: 50%;
                        }
                    }
                    .level-empty {
                        color: #fff;
                        padding: 20px;
                        .level-name {
                            height: 20px;
                            line-height: 20px;
                            margin-bottom: 20px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .level-text {
                            height: 70px;
                            line-height: 25px;
                            font-size: 26px;
                            font-weight: 600;
                            padding-bottom: 20px;
                            span {
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Page Tasks*/
/* Container task*/
.page-container.task {
    height: calc(100vh - 90px);
    .row {
        height: 100%;
        .task-background {
            width: 100%;
            height: 40%;
        }
        .task-block {
            width: 100%;
            height: 60%;
            .task-info {
                width: calc(100% - 20px);
                height: 120%;
                position: relative;
                top: calc(-20% - 15px);
                left: 10px;
                background-color: $theme-2;
                box-shadow: 0 5px 3px -3px #090909;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: -25%;
                overflow-y: auto;
                .task-header {
                    margin: auto;
                    width: calc(100% - 10px);
                    border-bottom: 1px solid #fff;;
                    height: 25px;
                    line-height: 25px;
                    font-size: 18px;
                    color: $text-light;
                }
                .task-body {
                    padding: 10px;
                    font-size: 20px;
                    color: $text-light;
                }
                .task-footer {
                    .form-task-submit {
                        width: 100%;
                        padding: 10px;
                        .task-type-image {
                            .form-row {
                                width: 100%;
                                &.row-task-answer {
                                    width: 150px;
                                    height: 25px;
                                    .button {
                                        width: 100%;
                                        height: 25px;
                                        background-color: $theme-3;
                                        color: $text-light;
                                        line-height: 25px;
                                        text-align: center;
                                        border-radius: 5px;
                                        font-size: 16px;
                                        font-weight: 600;
                                    }
                                    input {
                                        width: 100%;
                                        height: 25px;
                                        position: relative;
                                        top: -25px;
                                        left: 0;
                                        opacity: 0;
                                    }
                                }
                                &.row-task-submit {
                                    display: none;
                                    .task-submit-background {
                                        width: 100%;
                                        height: 200px;
                                        margin: 15px 0px;
                                        border-radius: 5px;
                                        box-shadow: 0 5px 3px -3px #2d2d2d;
                                    }
                                    .task-submit {
                                        width: 200px;
                                        height: 35px;
                                        margin: auto;
                                        margin-top: -60px;
                                        button {
                                            width: 100%;
                                            height: 100%;
                                            line-height: 35px;
                                            background-color: $theme-3;
                                            color: $text-light;
                                            border: none;
                                            font-size: 20px;
                                            font-weight: 600;
                                            border-radius: 3px;
                                            &:hover {
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                    .task-pending-info {
                                        line-height: 20px;
                                        font-size: 18px;
                                        color: $text-light;
                                        font-weight: 600;
                                    }
                                    &.shown {
                                        display: block!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*TIMELINE CONTAINER*/
.page-container.timeline {
    .row {
        height: 100%;
        .timeline-container {
            .timeline-header {
                width: 100%;
                height: 35px;
                font-size: 24px;
                padding: 5px;
                padding-bottom: 50px;
                padding-left: 15px;
            }
            .timeline {
                .timeline-inner {
                    .timeline-item {
                        margin-left: 10px;
                        width: calc(100% - 40px);
                        .item-header {
                            width: 100%;
                            height: 25px;
                            padding-left: 5px;
                            margin-bottom: 3px;
                            font-size: 16px;
                            color: #363636;
                            border-bottom:1px solid #363636;

                            .item-profile {
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .item-content {
                            width: 100%;
                            .item-text {
                                line-height: 23px;
                                .text-action {
                                    font-size: 19px;
                                }
                            }
                            .background-cover {
                                width: 80%;
                                height: 200px;
                            }
                        }
                        .item-footer {
                        }
                    }
                }
            }
        }
    }
}
