/*==============================*/
/*=====LARGE DESKTOP DEVICES====*/
/*==============================*/
@media only screen and (min-width: 1200px) {
    /*Admin Dashboard page*/
    #task-entries {grid-column: 1/4; grid-row: 1;}
    /*Admin Users page*/
    #users {grid-column: 1/4; grid-row: 1;}
    #user-add {grid-column: 1/4; grid-row: 1;}
    /*Admin Tasks page*/
    #tasks {grid-column: 1/4; grid-row: 1;}
    #task-add {grid-column: 1/4; grid-row: 1;}
    #task-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Questions page*/
    #questions {grid-column: 1/4; grid-row: 1;}
    #question-add {grid-column: 1/4; grid-row: 1;}
    #question-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Levels page*/
    #levels {grid-column: 1/4; grid-row: 1;}
    #level-add {grid-column: 1/4; grid-row: 1;}

}

/*==============================*/
/*====MEDIUM DESKTOP DEVICES====*/
/*==============================*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    /*Admin Dashboard page*/
    #task-entries {grid-column: 1/4; grid-row: 1;}
    /*Admin Users page*/
    #users {grid-column: 1/4; grid-row: 1;}
    #user-add {grid-column: 1/4; grid-row: 1;}
    /*Admin Tasks page*/
    #tasks {grid-column: 1/4; grid-row: 1;}
    #task-add {grid-column: 1/4; grid-row: 1;}
    #task-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Questions page*/
    #questions {grid-column: 1/4; grid-row: 1;}
    #question-add {grid-column: 1/4; grid-row: 1;}
    #question-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Levels page*/
    #levels {grid-column: 1/4; grid-row: 1;}
    #level-add {grid-column: 1/4; grid-row: 1;}
}

/*==============================*/
/*====MEDIUM DEVICES TABLETS====*/
/*==============================*/
@media only screen and (min-width: 660px) and (max-width: 959px) {
    /*Admin Dashboard page*/
    #task-entries {grid-column: 1/4; grid-row: 1;}
    /*Admin Users page*/
    #users {grid-column: 1/4; grid-row: 1;}
    #user-add {grid-column: 1/4; grid-row: 1;}
    /*Admin Tasks page*/
    #tasks {grid-column: 1/4; grid-row: 1;}
    #task-add {grid-column: 1/4; grid-row: 1;}
    #task-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Questions page*/
    #questions {grid-column: 1/4; grid-row: 1;}
    #question-add {grid-column: 1/4; grid-row: 1;}
    #question-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Levels page*/
    #levels {grid-column: 1/4; grid-row: 1;}
    #level-add {grid-column: 1/4; grid-row: 1;}
}

/*==============================*/
/*=====MEDIUM DEVICES MOBILE====*/
/*==============================*/
@media only screen and (min-width: 480px) and (max-width: 659px) {
    /*Admin Dashboard page*/
    #task-entries {grid-column: 1/4; grid-row: 1;}
    /*Admin Users page*/
    #users {grid-column: 1/4; grid-row: 1;}
    #user-add {grid-column: 1/4; grid-row: 1;}
    /*Admin Tasks page*/
    #tasks {grid-column: 1/4; grid-row: 1;}
    #task-add {grid-column: 1/4; grid-row: 1;}
    #task-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Questions page*/
    #questions {grid-column: 1/4; grid-row: 1;}
    #question-add {grid-column: 1/4; grid-row: 1;}
    #question-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Levels page*/
    #levels {grid-column: 1/4; grid-row: 1;}
    #level-add {grid-column: 1/4; grid-row: 1;}
}

/*==============================*/
/*=====SMALL DEVICES MOBILE=====*/
/*==============================*/
@media only screen and (max-width: 479px) {
    /*Admin Dashboard page*/
    #task-entries {grid-column: 1/4; grid-row: 1;}
    /*Admin Users page*/
    #users {grid-column: 1/4; grid-row: 1;}
    #user-add {grid-column: 1/4; grid-row: 1;}
    /*Admin Tasks page*/
    #tasks {grid-column: 1/4; grid-row: 1;}
    #task-add {grid-column: 1/4; grid-row: 1;}
    #task-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Questions page*/
    #questions {grid-column: 1/4; grid-row: 1;}
    #question-add {grid-column: 1/4; grid-row: 1;}
    #question-edit {grid-column: 1/4; grid-row: 1;}
    /*Admin Levels page*/
    #levels {grid-column: 1/4; grid-row: 1;}
    #level-add {grid-column: 1/4; grid-row: 1;}
}
