@import 'variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

div,input,select,textarea {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}


.page-wrapper {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 999;
}
.page-sections {
    width: 100%;
    min-height: calc(100vh - 25px);
    padding-top: 65px;
}
.page-container {
    width: 100%;
    padding: 10px;
    display: block;
    .row {
        width: 100%;
        min-height: 5px;
        display: inline-block;
    }
    &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: .0000001em;
    }
    &.nopadding {
        padding: 0px;
    }

}

/*Style layout*/
/*Menus*/
.menu-vertical {
    .menu-item {
        width: 100%;
    }
    .item-title {
        color: $text-light;
    }
    .submenu {
        .menu-item {
            width: 100%;
        }
    }
}
.menu-horizontal {
    .menu-item {
        height: 100%;
    }
    .item-title {
        color: $text-light;
    }
    .submenu {
        .menu-item {
            width: 100%;
        }
    }
}
.menu-switch {
    .menu-switch-button {
    }
    .menu-menu {
    }
}

/*Backgrounds*/
.background-cover {
    background-size: cover;
    background-position: center center;
}

/*Header*/
header {
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    .header-bar {
        width: 100%;
        height: 65px;
        z-index: 2;
        
        line-height: 65px;
        background-color: #486591;
        .header-nav {
            .header-sidebar {
                width: 65px;
                height: 65px;
                float: left;
                .sidebar-toggle {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    .sidebar-toggle-button {
                        color: $text-light;
                        font-size: 32px;
                    }
                }
                .sidebar {
                    width: 100vw;
                    height: calc(100vh - 65px);
                    position: relative;
                    left: -100vw;
                    background-color: #dfdfdf;
                    transition: left .3s ease-in-out;
                    overflow-y: auto;
                    z-index: 99;
                    .sidebar-menu {
                        padding-top: 50px;
                        .menu-sidebar {
                            width: 100%;
                            .menu-item {
                                height: 45px;
                                line-height: 45px;
                                padding-left: 10px;
                                font-size: 22px;
                                background-color: $theme-1;
                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .header-logo {
                width: calc(100% - 195px);
                height: 65px;
                float: left;
                padding: 5px 20px;
                padding-bottom: 15px;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    line-height: 55px;
                    font-weight: 700;
                }
            }
            .header-user {
                width: 65px;
                height: 65px;
                float: left;
                .user-button {
                    width: 100%;
                    height: 100%;
                    
                     a{
                        width: 100%;
                        height: 100%;
                        display: block;
                        .user-button-inner {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: $text-light;
                            font-size: 32px;
                        }
                    }

                }
            }
              .header-message {

                width: 65px;
                height: 65px;
                float: left;
                .message-button {
                    width: 100%;
                    height: 100%;
                     .link{
                        width: 100%;
                        height: 100%;
                        display: block;
                        .message-button-inner {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: $text-light;
                            font-size: 32px;
                            
                        }
                    }
                    .link:hover{
                        cursor:pointer;
                    } 
                    .exclamation-container{
                        background-color: red;
                        position:relative;
                        top: -79%;
                        left: 60%;
                        width: 15px;
                        height: 15px;
                        display: none;
                        .exclamation{
                            color :white;
                            font-size: 10px;
                            position: absolute;
                            top: -24px;
                            left: 35%;               
                        }

                         &.disappear {
                            transition: opacity .3s ease;
                            opacity: 0;
                         }
                        &.appear{
                            transition: opacity .3s ease;
                            opacity: 1;
                        }            
                    }

                }
                 .message-button:hover{
                    cursor:pointer;
                 }
            }

           
        }
    }
}

@media only screen and (max-width: 500px) {
    
    .header-logo{
        a{          
            font-size: 18px;
        }
         
    }
}
@media only screen and (min-width: 501px) {
    
    .header-logo{
        a{          
            font-size: 25px;
        }
         
    }
}
/*CALLOUT*/




.callout {
    font-family: Helvetica;
    font-size: 13px;
    border-radius: 3px;
    background-color: white;
    z-index: 998;
    box-shadow: 0px 0px 20px #999;
    margin: 25px;
    border: 1px solid white;
    text-shadow: 0 0 1px #000;
    display:none;
    .callout-content{

        width:100%;
        height:100%;
        overflow: auto;
       
    }

}

.callout::before {
    content: "";
    width: 0px;
    height: 2px; 
    border: 0.8em solid transparent;
    position: absolute;
    left: 75%;
    top: -20px;
    border-bottom: 10px solid white;
}

@media only screen and (max-width: 500px){
    .callout{
        width: 100vw;
        height: calc(100vh - 90px);
        position:absolute;
        top : 6vh;
        left: -7vw;
    }

    .callout::before {
        left: 70%;
    }
}
@media only screen and (min-width: 501px){
    .callout{
        width: 367px;
        height: 400px;
        position:relative;
        top : -38%;
        left:-430%;
    }

    .callout::before {
        left: 75%;
       
    }
}

/*MESSAGES*/
 
.toast-container {
    border-bottom: solid #E0E0E0;
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
    width:100%;
    font-family: 'Raleway', sans-serif;
    background-color:#efefef;
    display: table;
    text-align: center;
        
    .opened-toast{
        text-align:left;
        padding: 21px 0;
        background-color:#FFF;
        border-radius:4px;
        max-width: 500px;
        top: 0px;
        position:relative;
        box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
        .toast-icon{
            position:absolute;
            top:50%;
            left:20px;
            transform:translateY(-50%);
            width:30px;
            height:30px;
            padding: 7px;
            border-radius:50%;
            display:inline-block;
            .toast-svg{
                fill:#fff;
            }
        }
        .toast-content{
            padding-left:70px;
            padding-right:60px;
             .toast-title-declined {
                color: #ED0505;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-approved {
                color: #2BDE3F;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-date {
                color: #3e3e3e;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-level {
                color: #3e3e3e;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }

            .toast-message {
                font-size: 14px;
                margin-top: 0;
              margin-bottom: 0;
                color: #878787;
            }
        }
        .toast-close {
            position: absolute;
            right: 22px;
            top: 50%;
            width: 14px;
            cursor:pointer;
            height: 14px;
            fill:#878787;
            transform: translateY(-50%);
        }
    }
    .opened-toast:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-top-left-radius:4px;
        border-bottom-left-radius: 4px;
       

    }
    .unopened-toast{
        text-align:left;
        padding: 21px 0;
        background-color:#E5E9F1;
        border-radius:4px;
        max-width: 500px;
        top: 0px;
        position:relative;
        box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
        .toast-icon{
            position:absolute;
            top:50%;
            left:20px;
            transform:translateY(-50%);
            width:30px;
            height:30px;
            padding: 7px;
            border-radius:50%;
            display:inline-block;
            .toast-svg{
                fill:#fff;
            }
        }
        .toast-content{
            padding-left:70px;
            padding-right:60px;
             .toast-title-declined {
                color: #ED0505;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-approved {
                color: #2BDE3F;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-date {
                color: #3e3e3e;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }
            .toast-title-level {
                color: #B1CEFB;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 8px;
            }

            .toast-message {
                font-size: 14px;
                margin-top: 0;
              margin-bottom: 0;
                color: #878787;
            }
        }
        .toast-close {
            position: absolute;
            right: 22px;
            top: 50%;
            width: 14px;
            cursor:pointer;
            height: 14px;
            fill:#878787;
            transform: translateY(-50%);
        }
    }
    .unopened-toast:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-top-left-radius:4px;
        border-bottom-left-radius: 4px;

    }

} 
.toast--green .toast-icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast-icon{
  background-color:#1D72F3;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--red .toast-icon{
  background-color:#ED0505;
}

.toast--red:before{
  background-color:#ED0505;
}

/*PROFILE*/

.profile-nav{

    width: 100%;
    height: 65px;
    background-color: #FFF;
    position: relative;
    
    .nav{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
            .profile-nav-link{
                list-style: none;
                text-align: center;
                height: 62%;
                margin-top: 25px;
                
                /*&:hover{
                    border-bottom: 1px solid grey;
                }*/
                &.active{
                    border-bottom: 2px solid #486591;

                } 
                

                .link{
                    color: #DCDCDC;
                    &.active{
                        color: #476590;
                       

                    }
                }
            }
        
    }
}


@media only screen and (max-width:900px){
    .profile-nav-link{
        display: block;
        width: 100%;    
    }  
   
    
}  
@media only screen and (min-width:901px){
    .profile-nav:before{
        content:"";
        width: 90%;
        height: 0px; 
        border:0.5px solid #DADADA;
        position:absolute;
        top: 100%;
        left: 3%;



    }

    .profile-nav-link{
        display: inline-block;
        width: 33%;    
    }
}





/*Footer*/
.footer-bar {
    
    width: 100%;
    height: 25px;
    line-height: 25px;
    .footer-copyright {
        width: 100%;
        height: 100%;
        line-height: 25px;
        font-size: 16px;
        background-color: #222;
        color: #fff;
        text-align: center;
    }
}


