@import 'variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

div,input,select,textarea {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 999;
}
.page-sections {
    width: 100%;
    min-height: calc(100vh - 25px);
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.page-container {
    width: 100%;
    padding: 10px;
    display: block;
    .row {
        width: 100%;
        min-height: 5px;
        display: inline-block;
    }
    &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: .0000001em;
    }
    &.nopadding {
        padding: 0px;
    }

}

/*Style layout*/
/*Menus*/
.menu-vertical {
    .menu-item {
        width: 100%;
    }
    .item-title {
        color: $text-light;
    }
    .submenu {
        .menu-item {
            width: 100%;
        }
    }
}
.menu-horizontal {
    .menu-item {
        height: 100%;
    }
    .item-title {
        color: $text-light;
    }
    .submenu {
        .menu-item {
            width: 100%;
        }
    }
}
.menu-switch {
    .menu-switch-button {
    }
    .menu-menu {
    }
}

/*Backgrounds*/
.background-cover {
    background-size: cover;
    background-position: center center;
}

/*Header*/
header {
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    .header-bar {
        width: 100%;
        height: 65px;

        line-height: 65px;
        background-color: #486591;
        .header-nav {
            .header-sidebar {
                width: 65px;
                height: 65px;
                float: left;
                .sidebar-toggle {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    .sidebar-toggle-button {
                        color: $text-light;
                        font-size: 32px;
                    }
                }
                .sidebar {
                    width: 100vw;
                    height: calc(100vh - 65px);
                    position: relative;
                    left: -100vw;
                    background-color: #dfdfdf;
                    transition: left .3s ease-in-out;
                    overflow-y: auto;
                    z-index: 99;
                    .sidebar-menu {
                        padding-top: 50px;
                        .menu-sidebar {
                            width: 100%;
                            .menu-item {
                                height: 45px;
                                line-height: 45px;
                                padding-left: 10px;
                                font-size: 22px;
                                background-color: $theme-1;
                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .header-logo {
                width: calc(100% - 130px);
                height: 65px;
                float: left;
                padding: 5px 25px;
                padding-bottom: 15px;
                .header-logo-inner {
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .header-user {
                width: 65px;
                height: 65px;
                float: left;
                .user-button {
                    width: 100%;
                    height: 100%;
                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        .user-button-inner {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: $text-light;
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}

/*Footer*/
.footer-bar {
    width: 100%;
    height: 25px;
    line-height: 25px;
    .footer-copyright {
        width: 100%;
        height: 100%;
        line-height: 25px;
        font-size: 16px;
        background-color: #222;
        color: #fff;
        text-align: center;
    }
}
