
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

//Site colors
$dark-1: #2d2d2d;
$dark-2: #292929;
$dark-3: #202020;

$theme-1: #3ba4ab;

$dark-hover: #383838;

//Text
$text-light: #fff;
$text-dark: #323232;
$text-lightgrey: #949494;

$border-light: #cbcbcb;
$border-dark: #1c1c1c;

//Table
$table-header: #50b038;
$table-even: #d5d5d5;
$table-even-hover: #bebebe;
$table-odd-hover: #ededed;
