* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

div,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 999;
}

/*Backgrounds*/

.background-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*Splash layout*/

.splash {
  width: 100vw;
  min-height: 100vh;
  padding: 15px;
}

.splash .splash-inner {
  width: 100%;
  height: calc(100vh - 30px);
  border-radius: 20px;
}

