* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

div,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 999;
}

.page-sections {
  width: 100%;
  min-height: calc(100vh - 25px);
  padding-top: 65px;
}

.page-container {
  width: 100%;
  padding: 10px;
  display: block;
}

.page-container .row {
  width: 100%;
  min-height: 5px;
  display: inline-block;
}

.page-container:before {
  content: ' ';
  display: block;
  width: 100%;
  height: .0000001em;
}

.page-container.nopadding {
  padding: 0px;
}

/*Style layout*/

/*Menus*/

.menu-vertical .menu-item {
  width: 100%;
}

.menu-vertical .item-title {
  color: #fff;
}

.menu-vertical .submenu .menu-item {
  width: 100%;
}

.menu-horizontal .menu-item {
  height: 100%;
}

.menu-horizontal .item-title {
  color: #fff;
}

.menu-horizontal .submenu .menu-item {
  width: 100%;
}

/*Backgrounds*/

.background-cover {
  background-size: cover;
  background-position: center center;
}

/*Header*/

header {
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
}

header .header-bar {
  width: 100%;
  height: 65px;
  z-index: 2;
  line-height: 65px;
  background-color: #486591;
}

header .header-bar .header-nav .header-sidebar {
  width: 65px;
  height: 65px;
  float: left;
}

header .header-bar .header-nav .header-sidebar .sidebar-toggle {
  width: 100%;
  height: 100%;
  text-align: center;
}

header .header-bar .header-nav .header-sidebar .sidebar-toggle .sidebar-toggle-button {
  color: #fff;
  font-size: 32px;
}

header .header-bar .header-nav .header-sidebar .sidebar {
  width: 100vw;
  height: calc(100vh - 65px);
  position: relative;
  left: -100vw;
  background-color: #dfdfdf;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  overflow-y: auto;
  z-index: 99;
}

header .header-bar .header-nav .header-sidebar .sidebar .sidebar-menu {
  padding-top: 50px;
}

header .header-bar .header-nav .header-sidebar .sidebar .sidebar-menu .menu-sidebar {
  width: 100%;
}

header .header-bar .header-nav .header-sidebar .sidebar .sidebar-menu .menu-sidebar .menu-item {
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  font-size: 22px;
  background-color: #3ba4ab;
}

header .header-bar .header-nav .header-sidebar .sidebar .sidebar-menu .menu-sidebar .menu-item a {
  display: block;
  width: 100%;
  height: 100%;
}

header .header-bar .header-nav .header-logo {
  width: calc(100% - 195px);
  height: 65px;
  float: left;
  padding: 5px 20px;
  padding-bottom: 15px;
}

header .header-bar .header-nav .header-logo a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 55px;
  font-weight: 700;
}

header .header-bar .header-nav .header-user {
  width: 65px;
  height: 65px;
  float: left;
}

header .header-bar .header-nav .header-user .user-button {
  width: 100%;
  height: 100%;
}

header .header-bar .header-nav .header-user .user-button a {
  width: 100%;
  height: 100%;
  display: block;
}

header .header-bar .header-nav .header-user .user-button a .user-button-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 32px;
}

header .header-bar .header-nav .header-message {
  width: 65px;
  height: 65px;
  float: left;
}

header .header-bar .header-nav .header-message .message-button {
  width: 100%;
  height: 100%;
}

header .header-bar .header-nav .header-message .message-button .link {
  width: 100%;
  height: 100%;
  display: block;
}

header .header-bar .header-nav .header-message .message-button .link .message-button-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 32px;
}

header .header-bar .header-nav .header-message .message-button .link:hover {
  cursor: pointer;
}

header .header-bar .header-nav .header-message .message-button .exclamation-container {
  background-color: red;
  position: relative;
  top: -79%;
  left: 60%;
  width: 15px;
  height: 15px;
  display: none;
}

header .header-bar .header-nav .header-message .message-button .exclamation-container .exclamation {
  color: white;
  font-size: 10px;
  position: absolute;
  top: -24px;
  left: 35%;
}

header .header-bar .header-nav .header-message .message-button .exclamation-container.disappear {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

header .header-bar .header-nav .header-message .message-button .exclamation-container.appear {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
}

header .header-bar .header-nav .header-message .message-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .header-logo a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 501px) {
  .header-logo a {
    font-size: 25px;
  }
}

/*CALLOUT*/

.callout {
  font-family: Helvetica;
  font-size: 13px;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px #999;
          box-shadow: 0px 0px 20px #999;
  margin: 25px;
  border: 1px solid white;
  text-shadow: 0 0 1px #000;
  display: none;
}

.callout .callout-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.callout::before {
  content: "";
  width: 0px;
  height: 2px;
  border: 0.8em solid transparent;
  position: absolute;
  left: 75%;
  top: -20px;
  border-bottom: 10px solid white;
}

@media only screen and (max-width: 500px) {
  .callout {
    width: 100vw;
    height: calc(100vh - 90px);
    position: absolute;
    top: 6vh;
    left: -7vw;
  }

  .callout::before {
    left: 70%;
  }
}

@media only screen and (min-width: 501px) {
  .callout {
    width: 367px;
    height: 400px;
    position: relative;
    top: -38%;
    left: -430%;
  }

  .callout::before {
    left: 75%;
  }
}

/*MESSAGES*/

.toast-container {
  border-bottom: solid #E0E0E0;
  line-height: 100%;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #efefef;
  display: table;
  text-align: center;
}

.toast-container .opened-toast {
  text-align: left;
  padding: 21px 0;
  background-color: #FFF;
  border-radius: 4px;
  max-width: 500px;
  top: 0px;
  position: relative;
  -webkit-box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.toast-container .opened-toast .toast-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}

.toast-container .opened-toast .toast-icon .toast-svg {
  fill: #fff;
}

.toast-container .opened-toast .toast-content {
  padding-left: 70px;
  padding-right: 60px;
}

.toast-container .opened-toast .toast-content .toast-title-declined {
  color: #ED0505;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .opened-toast .toast-content .toast-title-approved {
  color: #2BDE3F;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .opened-toast .toast-content .toast-title-date {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .opened-toast .toast-content .toast-title-level {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .opened-toast .toast-content .toast-message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.toast-container .opened-toast .toast-close {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor: pointer;
  height: 14px;
  fill: #878787;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.toast-container .opened-toast:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.toast-container .unopened-toast {
  text-align: left;
  padding: 21px 0;
  background-color: #E5E9F1;
  border-radius: 4px;
  max-width: 500px;
  top: 0px;
  position: relative;
  -webkit-box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.toast-container .unopened-toast .toast-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}

.toast-container .unopened-toast .toast-icon .toast-svg {
  fill: #fff;
}

.toast-container .unopened-toast .toast-content {
  padding-left: 70px;
  padding-right: 60px;
}

.toast-container .unopened-toast .toast-content .toast-title-declined {
  color: #ED0505;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .unopened-toast .toast-content .toast-title-approved {
  color: #2BDE3F;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .unopened-toast .toast-content .toast-title-date {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .unopened-toast .toast-content .toast-title-level {
  color: #B1CEFB;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast-container .unopened-toast .toast-content .toast-message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.toast-container .unopened-toast .toast-close {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor: pointer;
  height: 14px;
  fill: #878787;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.toast-container .unopened-toast:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.toast--green .toast-icon {
  background-color: #2BDE3F;
}

.toast--green:before {
  background-color: #2BDE3F;
}

.toast--blue .toast-icon {
  background-color: #1D72F3;
}

.toast--blue:before {
  background-color: #1D72F3;
}

.toast--red .toast-icon {
  background-color: #ED0505;
}

.toast--red:before {
  background-color: #ED0505;
}

/*Footer*/

.footer-bar {
  width: 100%;
  height: 25px;
  line-height: 25px;
}

.footer-bar .footer-copyright {
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-size: 16px;
  background-color: #222;
  color: #fff;
  text-align: center;
}

