* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
}

div,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  min-height: 100vh;
  z-index: 999;
}

.page-sections {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}

/*Style layout*/

/*Menus*/

.menu-vertical .menu-item {
  width: 100%;
}

.menu-vertical .item-title {
  color: #fff;
}

.menu-vertical .submenu .menu-item {
  width: 100%;
}

/*Backgrounds*/

.background-cover {
  background-size: cover;
  background-position: center center;
}

/*Header*/

header .header-bar {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #1c1c1c;
  background-color: #292929;
  position: fixed;
  top: 0;
  z-index: 99;
  color: #fff;
}

header .header-bar .nav-global {
  float: left;
}

header .header-bar .menu-global {
  width: 150px;
  margin-left: 5px;
  line-height: 25px;
}

header .header-bar .menu-global:hover .submenu {
  display: block;
}

header .header-bar .menu-global .item-title {
  padding: 0px 20px;
}

header .header-bar .menu-global .submenu {
  position: relative;
  width: 100%;
  display: none;
}

header .header-bar .menu-global .menu-item {
  height: 25px;
  line-height: 25px;
}

header .header-bar .menu-global .submenu .menu-item {
  height: 25px;
  line-height: 25px;
}

header .header-bar .menu-global .submenu .item-title {
  padding: 0px 5px;
}

header .header-bar .submenu .menu-item {
  background-color: #202020;
  border-left: 3px solid #202020;
}

header .header-bar .submenu .menu-item:hover {
  border-color: #3ba4ab;
}

header .header-bar .user-welcome {
  height: 100%;
  padding-right: 15px;
  line-height: 25px;
  float: right;
  display: block;
}

/*Content*/

main {
  height: 100vh;
}

.page-content {
  width: calc(100% - 250px);
  min-height: 100vh;
  margin-left: 250px;
  padding-top: 25px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  background-color: #ececec;
}

/*Sidebar*/

.sidebar {
  width: 250px;
  height: 100vh;
  padding-top: 25px;
  position: fixed;
  background-color: #2d2d2d;
  border-right: 1px solid #1c1c1c;
  color: #fff;
  -webkit-transition: width ease-in-out .2s;
  transition: width ease-in-out .2s;
}

.sidebar:hover .sidebar-toggle {
  right: -25px;
  color: #fff;
}

.sidebar-toggle {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: #2d2d2d;
  border-radius: 50%;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  color: #2d2d2d;
  -webkit-transition: right ease-in-out .1s, color ease-in-out .1s;
  transition: right ease-in-out .1s, color ease-in-out .1s;
}

.sidebar-toggle:hover {
  cursor: pointer;
}

.sidebar-content .sidebar-logo {
  width: 100%;
  height: 160px;
  padding-top: 20px;
}

.sidebar-content .sidebar-logo .bg-logo {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid #3ba4ab;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sidebar-content #smfull .menu-item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-content #smfull .menu-item:last-child .item-title {
  border-bottom: 1px solid #202020;
}

.sidebar-content #smfull .menu-item.active .item-title {
  border-left-color: #3ba4ab;
}

.sidebar-content #smfull .menu-item.active .submenu {
  display: block;
}

.sidebar-content #smfull .menu-item.active .submenu .item-title {
  border-left-color: transparent;
}

.sidebar-content #smfull .item-title {
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  border-top: 1px solid #202020;
  border-left: 5px solid transparent;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-content #smfull .menu-item
i {
  width: 100%;
}

.sidebar-content #smfull .submenu {
  display: none;
}

.sidebar-content #smfull .submenu .menu-item .item-title {
  height: 35px;
  line-height: 35px;
  border-bottom: none;
  background-color: #202020;
}

.sidebar-content #smsmall {
  display: none;
  color: #fff;
}

.sidebar-content #smsmall .sidebar-logo {
  width: 100%;
  height: 160px;
  padding-top: 20px;
}

.sidebar-content #smsmall .menu-item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-content #smsmall .menu-item:last-child .item-title {
  border-bottom: 1px solid #202020;
}

.sidebar-content #smsmall .menu-item .item-title {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  text-align: center;
  border-top: 1px solid #202020;
  border-left: 5px solid transparent;
}

.sidebar-content #smsmall .menu-item.active .item-title {
  border-left-color: #3ba4ab;
}

.sidebar-content #smsmall i {
  color: #fff;
}

/*TABLE PLATFORM*/

.table.platform .table-options {
  background-color: #efefef;
  margin-bottom: 5px;
  display: block;
}

.table.platform .table-options .table-search {
  width: 250px;
  height: 35px;
  margin-left: 25px;
  display: inline-block;
}

.table.platform .table-options .table-search input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-bottom: 3px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  background-color: transparent;
  font-size: 16px;
}

.table.platform .table-options .table-amount {
  display: inline-block;
}

.table.platform .table-options .table-add {
  margin-left: 25px;
  float: right;
  padding: 2.5px 20px;
}

.table.platform .table-options .table-add .add-button {
  width: 100px;
  height: 30px;
}

.table.platform .table-options .table-add .add-button a {
  width: 100%;
  height: 100%;
  line-height: 30px;
  display: block;
  color: #fff;
}

.table.platform .table-options .table-add .add-button a .add-left {
  width: 30px;
  height: 100%;
  float: left;
  background-color: #50b038;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table.platform .table-options .table-add .add-button a .add-right {
  width: 70px;
  height: 30px;
  float: left;
  padding-left: 5px;
  font-weight: 600;
  background-color: #fff;
  color: #50b038;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #50b038;
  border-left: none;
}

.table.platform .table-options .table-add .add-button a:hover .add-right {
  background-color: #50b038;
  color: #fff;
}

.table.platform .table-field {
  width: 100%;
  overflow: auto;
}

.table.platform .table-field table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table.platform .table-field table .table-header {
  height: 25px;
  line-height: 25px;
  color: #fff;
  background-color: #50b038;
}

.table.platform .table-field table .table-header th {
  text-align: center;
}

.table.platform .table-field table .table-row {
  height: 30px;
  line-height: 30px;
}

.table.platform .table-field table .table-row:hover {
  background-color: #ededed;
}

.table.platform .table-field table .table-row:nth-child(odd) {
  background-color: #d5d5d5;
}

.table.platform .table-field table .table-row:nth-child(odd):hover {
  background-color: #bebebe;
}

.table.platform .table-field table .table-row td {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table.platform .table-field table .table-row td.actions {
  padding-left: 0px;
}

.table.platform .table-field table .table-row td.actions a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  float: left;
  margin: 5px;
  border-radius: 3px;
}

.table.platform .table-field table .table-row td.actions a i {
  color: #fff;
}

.table.platform .table-field table .table-row td.actions a.edit {
  background-color: #50b038;
}

.table.platform .table-field table .table-row td.actions a.delete {
  background-color: #df2525;
}

.table.platform .table-field table .table-row td .td-hoverbox {
  position: relative;
  right: -30px;
  top: -30px;
}

.table.platform .table-field table .table-row td .td-hoverbox.hb-color {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.table.platform .table-field table .table-row td .td-hoverbox.hb-color .hb-inner {
  width: 100%;
  height: 100%;
}

.table.platform .table-field table .table-row .table-centered {
  text-align: center;
  padding: 0px;
}

.table.platform .table-field .table-empty-msg {
  text-align: center;
  line-height: 50px;
  color: #949494;
}

.table.platform .table-pagination {
  width: 100%;
  height: 35px;
  background-color: #ddd;
}

.table.platform .table-pagination .tablep-counter {
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  color: #6f6f6f;
  float: left;
  display: block;
}

.table.platform .table-pagination .tablep-buttons {
  height: 35px;
  margin-right: 15px;
  float: right;
  display: block;
}

.table.platform .table-pagination .tablep-buttons .tablep-button {
  width: 30px;
  height: 30px;
  margin: 2.5px;
  line-height: 30px;
  background-color: #b8b8b8;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.table.platform .table-pagination .tablep-buttons .tablep-button.current {
  background-color: #50b038;
}

/*CONTENT BLOCKS*/

.page-sections .content-block {
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.page-sections .block-header {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #323232;
}

.page-sections .block-header .block-title {
  padding-left: 10px;
  font-size: 22px;
}

.page-sections .block-body {
  width: 100%;
  min-height: 100px;
}

/*FORMS*/

.form {
  width: 100%;
}

.form .form-row {
  width: 100%;
  margin-bottom: 15px;
}

.form .form-row .form-input {
  padding-left: 15px;
}

.form .form-row .form-input .input-label {
  width: 100%;
  line-height: 20px;
  margin-bottom: 5px;
  height: 20px;
}

.form .form-row .form-input .input-label label {
  line-height: 20px;
  font-size: 18px;
  color: #505050;
}

.form .form-row .form-input .input-errors {
  width: 80%;
  line-height: 18px;
  font-size: 14px;
  color: #fff;
  background-color: #f55;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
}

.form .form-row .form-input.text {
  width: 50%;
}

.form .form-row .form-input.text .input {
  width: 80%;
  height: 35px;
}

.form .form-row .form-input.text .input input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid #444;
}

.form .form-row .form-input.text .input input:focus {
  border-bottom: 2px solid #3ba4ab;
}

.form .form-row .form-input.textarea {
  width: 100%;
}

.form .form-row .form-input.textarea .input textarea {
  width: 60%;
  height: 200px;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #444;
}

.form .form-row .form-input.textarea .input textarea:focus {
  border: 2px solid #3ba4ab;
}

.form .form-row .form-input.select {
  width: 50%;
}

.form .form-row .form-input.select .input select {
  width: 50%;
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #444;
}

.form .form-row .form-input.select .input select:focus {
  border: 2px solid #3ba4ab;
}

.form .form-row .form-input.num {
  width: 50%;
}

.form .form-row .form-input.num .input input {
  width: 40%;
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #444;
}

.form .form-row .form-input.num .input input:focus {
  border: 2px solid #3ba4ab;
}

.form .form-row .form-input.image {
  width: 100%;
}

.form .form-row .form-input.image .input .button {
  width: 150px;
  height: 35px;
  background-color: #fff;
  border: 2px solid #444;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

.form .form-row .form-input.image .input input {
  width: 150px;
  height: 35px;
  position: relative;
  top: -35px;
  left: 0;
  opacity: 0;
}

.form .form-row .form-input.image .preview {
  display: none;
  width: 300px;
  height: 150px;
}

.form .form-row .form-input.image .preview.shown {
  display: block;
}

.form .form-row .form-input.color {
  width: 50%;
  float: left;
}

.form .form-row .form-input.color .input {
  width: 100px;
  height: 35px;
}

.form .form-row .form-input.color .input input {
  width: calc(100%);
  height: 100%;
  border: none;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid #444;
}

.form .form-row .form-input.color .input input:focus {
  border-bottom: 2px solid #3ba4ab;
}

.form .form-row .form-input.password {
  width: 50%;
  float: left;
}

.form .form-row .form-input.password .input {
  width: 80%;
  height: 35px;
}

.form .form-row .form-input.password .input input {
  width: calc(100% - 35px);
  height: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid #444;
}

.form .form-row .form-input.password .input input:focus {
  border-bottom: 2px solid #3ba4ab;
}

.form .form-row .form-input.password .input .password-toggle {
  width: 35px;
  height: 100%;
  display: block;
  float: right;
  border: 2px solid #444;
  line-height: 35px;
  text-align: center;
  color: #595959;
  background-color: #c3c3c3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form .form-row .form-input.password .input .password-toggle.toggled {
  color: #fff;
  background-color: #50b038;
}

.form .form-row .form-input.relation {
  width: 100%;
}

.form .form-row .form-input.relation .relation-add {
  width: 100px;
  height: 30px;
}

.form .form-row .form-input.relation .relation-add .add-button {
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #fff;
}

.form .form-row .form-input.relation .relation-add .add-button .add-left {
  width: 30px;
  height: 100%;
  float: left;
  background-color: #444;
  text-align: center;
}

.form .form-row .form-input.relation .relation-add .add-button .add-right {
  width: 70px;
  height: 30px;
  float: left;
  padding-left: 5px;
  font-weight: 600;
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
  border-left: none;
}

.form .form-row .form-input.relation .relation-add .add-button:hover .add-right {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.form .form-row .form-input.relation .relations .relation .relation-row {
  margin: 5px 0px;
  width: 500px;
  height: 80px;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left {
  float: left;
  width: 50%;
  padding: 5px;
  background-color: #a2a2a2;
  border: 2px solid #444;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left .relation-label {
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left .relation-label .relation-remove {
  width: 30px;
  height: 30px;
  display: none;
  float: right;
  color: #df2525;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left .relation-label .relation-remove:hover {
  cursor: pointer;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left .relation-input {
  width: 100%;
  height: 30px;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left .relation-input select {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: 1px solid #444;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-left:hover .relation-label .relation-remove {
  display: block;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-right {
  float: left;
  width: 48%;
  margin-left: 2%;
  padding: 5px;
  background-color: #a2a2a2;
  border: 2px solid #444;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-right .answer-label {
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-right .answer-input {
  width: 100%;
  height: 30px;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-right .answer-input select {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: 1px solid #444;
}

.form .form-row .form-input.relation .relations .relation .relation-row .relation-right .answer-input input {
  width: 100%;
  height: 100%;
  padding-left: 3px;
  font-size: 16px;
  border: 1px solid #444;
}

.form .form-row .form-input.answers .input .type-answer {
  width: 100%;
  min-height: 50px;
  display: none;
}

.form .form-row .form-input.answers .input .type-answer.active {
  display: block;
}

.form .form-row .form-input.answers .input .type-answer.select .answer-add {
  height: 30px;
  width: 100%;
}

.form .form-row .form-input.answers .input .type-answer.select .answer-add .add-button {
  float: left;
  height: 100%;
  line-height: 30px;
  color: #fff;
}

.form .form-row .form-input.answers .input .type-answer.select .answer-add .add-button .add-left {
  width: 30px;
  height: 100%;
  float: left;
  background-color: #444;
  text-align: center;
}

.form .form-row .form-input.answers .input .type-answer.select .answer-add .add-button .add-right {
  width: 70px;
  height: 30px;
  float: left;
  padding-left: 5px;
  font-weight: 600;
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
  border-left: none;
}

.form .form-row .form-input.answers .input .type-answer.select .answer-add .add-button:hover .add-right {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list {
  width: 100%;
  padding: 10px;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list .answer-field {
  width: 250px;
  height: 35px;
  margin: 5px 0px;
  border: 2px solid #444;
  padding: 2.5px;
  background-color: #a2a2a2;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list .answer-field:hover span {
  display: block;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list .answer-field input {
  width: 210px;
  height: 35px;
  float: left;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid #444;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list .answer-field span {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  font-size: 26px;
  display: none;
  line-height: 35px;
  text-align: center;
  float: left;
}

.form .form-row .form-input.answers .input .type-answer.select .answers-list .answer-field span i {
  color: #df2525;
}

.form .form-row .form-submit {
  padding-left: 15px;
}

.form .form-row .form-submit .submit {
  width: auto;
  min-width: 150px;
  height: 45px;
  border: none;
  background-color: #50b038;
  color: #fff;
  font-size: 18px;
  padding: 0px 10px;
}

